body {
    /* background-image: url('http://ds.citrus24.com/app/images/individualpos.png'); */
    background-image: url(http://ds.citrus24.com/app/images/background.png);
    background-size: 100% 110%;
    background-repeat: no-repeat;
    color: #095764;
    font-weight: bold;
}